.title {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;

  transition: 700ms ease;
  font-variation-settings: 'wght' 311;
  margin-bottom: 0.8rem;
  color: rgb(75, 46, 71);
  outline: none;
  text-align: center;
}
.link {
  text-decoration: none;
  color: rgb(66, 20, 60);
}
.link:hover,
.link:focus {
  color: rgb(206, 183, 33);
}
